* {
	margin: 0;
	padding: 0;
}
header {
	height: 45px;
    background-color: #333333;
}
.Currency {
     text-decoration: none;
     position: absolute;
     font-size: 13px;
    line-height: 45px;
    color: #777777;
    font-weight: 510;
    font-family: "Montserrat";
    margin-left: 350px;
}
.Cur:after,
.Cur:before {
     content: '';
     width: 6px;
     height: 3px;
     background-color: #777777;
     position: absolute;
     top: 21px;
}
.Cur:before {
     transform: rotate(40deg);
     margin-left: 9px;
}
.Cur:after {
     transform: rotate(-40deg);
     margin-left: 12px;
}
#reg {
     position: absolute;
     right: 220px;
}
.Register {
     text-decoration: none;
     font-size: 13px;
    line-height: 45px;
    color: #777777;
    font-weight: 510;
    font-family: "Montserrat";
}
.Sing {
     padding-left: 10px;
    text-decoration: none;
     font-size: 13px;
    line-height: 45px;
    color: #777777;
    font-weight: 510;
    font-family: "Montserrat";
}
.empty {
     position: absolute;
     width: 145px;
    height: 45px;
    background-color: #00c8c8;
    margin-left: 75px;
}
.mag {
     position: absolute;
     margin-left: 20px;
     margin-top: 15px;
}
.empty1 {
     position: absolute;
     text-decoration: none;
    color: #ffffff;
    font-weight: 400;
    font-family: "Montserrat";
    font-size: 13px;
    margin-left: 58px;
    margin-top: 13px;

}
.empty:after,
.empty:before {
     content: '';
     width: 5px;
     height: 2px;
     background-color: #ffffff;
     position: absolute;
     top: 20px;
}
.empty:before {
     transform: rotate(-40deg);
     right: 27px;
}
.empty:after {
     transform: rotate(40deg);
     right: 30px;
}
.her:hover {
     color: #00c8c8;
}
#bag1 {
     height: 87px;
     background-color: #f8f8f8;
}
.logo {
     position: absolute;
     margin-left: 105px;
     margin-top: 40px;
}
.menu ul li {
     position: relative;
    right: 5px;
    top: 35px;
    float: right;
    list-style-type: none;
}
#menu {
     margin-right: 39px;
}
#menu .reh {
     font-size: 13px;
     text-transform: uppercase;
     color: #333333;
     font-weight: 510;
     font-family: "Montserrat";
     text-decoration: none;
     margin-left: 40px;
     cursor: pointer;
} 
.men:after,
.men:before {
     content: '';
     width: 6px;
     height: 2px;
     background-color: #333333;
     position: absolute;
     top: 30px;
     cursor: pointer;
}
.men:before {
    transform: rotate(40deg);
    left: 42px;
}
.men:after {
    transform: rotate(-40deg);
    left: 45px;
} 
.search {
    width: 148px;
    height: 23px;
    background-color: rgba(248,248,248,0);
    border: 1px solid #e7e7e7;
    font-size: 13px;
    line-height: 21px;
    color: #989898;
    font-weight: 300;
    font-family: "Montserrat";
    margin-left: 32px;
    padding-left: 10px;
    outline: none;
    background: url(Home/search.png) no-repeat;
    background-position: 140px center;
}
[data-type="mens1"]  {
    position: absolute;
    width: 364px;
    height: 527px;
    filter: drop-shadow(0px 17px 12px rgba(0,0,0,0.14));
    background-color: #f8f8f8;
    top: 32px;
    left: 20px;
    padding: 30px;
    display: grid;
    grid-template-columns: 230px 100px;
    opacity: 0;
    visibility: hidden;
}
[data-type="mens"]  {
    position: absolute;
    width: 364px;
    height: 527px;
    filter: drop-shadow(0px 17px 12px rgba(0,0,0,0.14));
    background-color: #f8f8f8;
    top: 32px;
    left: 20px;
    padding: 30px;
    display: grid;
    grid-template-columns: 230px 100px;
    opacity: 100%;
    visibility: visible;
}
.mens1 h1 {
     font-size: 13px;
    line-height: 16px;
    text-transform: uppercase;
    color: #575153;
    font-weight: 400;
    font-family: "Montserrat";
    margin-bottom: 20px;
}
.mens1 .hev {
     font-size: 14px;
    line-height: 30px;
    color: #727272;
    font-weight: 300;
    font-family: "Montserrat";
    text-decoration: none;
}
.mens1 .veh {
     font-size: 14px;
    line-height: 30px;
    color: #727272;
    font-weight: 300;
    font-family: "Montserrat";
    text-decoration: none;
}
.mens1 h2 {
     font-size: 13px;
    line-height: 16px;
    text-transform: uppercase;
    color: #575153;
    font-weight: 400;
    font-family: "Montserrat";
    margin-bottom: 20px;
    right: 0px;
}
.banner {
     width: 365px;
    height: 200px;
    background-color: #333333;
    margin-top: 110px;
}
.Autumn {
     width: 300px;
     position: absolute;
     font-size: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-family: "Montserrat";
    margin-top: 60px;
    margin-left: 50px;
}
.veh:hover {
     color: #00c8c8;
}
.hev:hover {
     color: #00c8c8;
}
#menu .reh:hover{
     color: #00c8c8;
}
.her:hover {
     color: #00c8c8;
}
.erh {
     font-size: 13px;
    text-transform: uppercase;
    color: #00c8c8;
    font-weight: 510;
    font-family: "Montserrat";
    text-decoration: none;
    margin-left: 40px;
    cursor: pointer;
}
#loc .stol1 .hev:hover {
     color: #00c8c8; 
}
#loc .stol2 .hev:hover {
     color: #00c8c8; 
}
[data-type="loc"] {
    position: absolute;
    width: 300px;
    height: 407px;
    top: 33px;
    right: 20px;
    filter: drop-shadow(0px 17px 12px rgba(0,0,0,0.14));
    background-color: #f8f8f8;
    padding: 30px;
    opacity: 0;
    visibility: hidden;
}
[data-type="loc1"] {
    position: absolute;
    width: 300px;
    height: 407px;
    top: 33px;
    filter: drop-shadow(0px 17px 12px rgba(0,0,0,0.14));
    background-color: #f8f8f8;
    padding: 30px;
    opacity: 100%;
    visibility: visible;
}
#loc h1 {
     font-size: 13px;
    line-height: 16px;
    text-transform: uppercase;
    color: #575153;
    font-weight: 400;
    font-family: "Montserrat";
    margin-bottom: 20px;
}
#loc .hev {
     font-size: 14px;
    line-height: 30px;
    color: #727272;
    font-weight: 300;
    font-family: "Montserrat";
    text-decoration: none;     
}
#loc h2 {
     font-size: 13px;
    line-height: 16px;
    text-transform: uppercase;
    color: #575153;
    font-weight: 400;
    font-family: "Montserrat";
    margin-bottom: 20px;
    right: 0px;
    grid-template-columns: 100px 100px;
}
.stol2 {
     position: absolute;
     right: 30px;
     top: 30px;
}
.ban {
     width: 300px;
    height: 200px;
    background-color: #333333;
    margin-top: 80px;
}
.Autum {
     width: 300px;
     position: absolute;
     font-size: 30px;
     letter-spacing: 2px;
     text-transform: uppercase;
     color: #ffffff;
     font-weight: 700;
     font-family: "Montserrat";
     margin-top: 60px;
     margin-left: 20px;
}
#bag2 {
	height: 352px;
     background: url(ProductView/intro.png) no-repeat;
}
.the {
     font-size: 37px;
     letter-spacing: 2px;
     line-height: 100px;
     text-transform: uppercase;
     color: #ffffff;
     font-weight: 700;
     font-family: "Montserrat";
     text-align: center;
}
.brond {
    font-weight: 300;
}
.company {
     font-size: 23px;
     letter-spacing: 1px;
     text-transform: uppercase;
     color: #ffffff;
     font-weight: 400;
     font-family: "Montserrat";
     text-align: center;
}
.sweat {
     color: #00c8c8;
}
.name {
     margin: 0 auto;
     padding-top: 100px;
}
#loc .active {
     color: #00c8c8;
     font-size: 14px;
     line-height: 30px;
     font-weight: 300;
     font-family: "Montserrat";
     text-decoration: none;  
}
#mens1 .active {
     color: #00c8c8;
     font-size: 14px;
     line-height: 30px;
     font-weight: 300;
     font-family: "Montserrat";
     text-decoration: none;
}
#border {
     width: 1381px;
    height: 1px;
    background-color: #eeeeee;
    margin: 50px auto;
}
#menu2 {
     margin-left: 50px;
     margin-bottom: 50px;
}
#menu2 li a {
     font-size: 13px;
    text-transform: uppercase;
    color: #727272;
    font-weight: 400;
    font-family: "Montserrat";
    text-decoration: none;
    margin-left: 50px;
}
#menu2 li {
     float: left;
     list-style: none;
}
#menu2 li a:hover {
    color: #00c8c8;
}
#menu2 .active {
     color: #00c8c8;
}
#bag3 {
     display: grid;
     width: 1200px;
     margin: 50px auto;
}
#leftsidebar {
     grid-column: 1 / 2;
}
.strv1,
.strv2 {
     content: '';
     width: 20px;
     height: 20px;
     border-left: 4px solid #575153;
     position: absolute;
     cursor: pointer;
     z-index: 1;
}
.strv1 {
     transform: rotate(44deg);
     margin-left: 7px;
     margin-top: 366px;
}
.strv2 {
     transform: rotate(-44deg);
     margin-top: 364px;
     margin-left: 7px;
}
.strela2:after,
.strela2:before {
     content: '';
     width: 20px;
     height: 4px;
     background-color: #575153;
     position: absolute;
     cursor: pointer;
     z-index: 1;
}
.strela2:before {
     transform: rotate(-44deg);
     margin-left: 545px;
     margin-top: 366px;
}
.strela2:after {
     transform: rotate(44deg);
     margin-top: 355px;
     margin-left: 545px;
}
#rightsidebar {
     grid-column: 2 / 3;
}
.border {
     position: absolute;
     width: 2px;
     height: 15px;
     background-color: #9a9a9a;
     margin-left: 200px;
     margin-top: 2px;
}
.border1 {
     position: absolute;
     width: 2px;
     height: 15px;
     background-color: #9a9a9a;
     margin-left: 345px;
     margin-top: 2px;
}
.review {
     margin-top: 20px;
}
.zvezd {
     position: absolute;
}
#rightsidebar .donec ul {
     width: 570px;
     height: 101px;
     font-size: 15px;
     letter-spacing: 1px;
     line-height: 21px;
     color: #8e8c8c;
     font-weight: 400;
     font-family: "Roboto";
     margin-left: 17px;
}
.krug1 {
     margin-top: 40px;
}
.krug {
     position: absolute;
     width: 30px;
     height: 30px;
     border-radius: 15px;
     background-color: #727272;
     border: none;
     cursor: pointer;
}
.krug:hover {
     background-color: #00c8c8;
}
.strel {
      margin-top: 3px;
      margin-left: 1px;
}
.compare {
     position: absolute;
     font-size: 14px;
     letter-spacing: 3px;
     text-transform: uppercase;
     color: #454647;
     font-weight: 500;
     font-family: "Montserrat";
     margin-left: 45px;
     margin-top: 8px;
}
.tocart {
     padding-left: 20px;
     background-color: rgba(115,115,115,0);
     border: 2px solid #737373;
     font-size: 16px;
     letter-spacing: 3px;
     text-transform: uppercase;
     color: #454647;
     font-weight: 600;
     font-family: "Montserrat";
     width: 241px;
     height: 59px;;
     background: url(ProductView/mag.png) no-repeat;
     background-position: 20px center;
     cursor: pointer;
}
.toloocbook {
     padding-left: 20px;
     width: 303px;
     height: 59px;
     background-color: rgba(115,115,115,0);
     border: 2px solid #737373;
     font-size: 16px;
     letter-spacing: 3px;
     text-transform: uppercase;
     color: #454647;
     font-weight: 600;
     font-family: "Montserrat";
     margin-left: 20px;
     margin-top: 60px;
     background: url(ProductView/heart.png) no-repeat;
     background-position: 20px center;
}
.toloocbook:hover {
     background-color: #333333;
     color: #ffffff;
     border: none;
}
.tocart:hover {
     background-color: #333333;
     color: #ffffff;
     border: none;
}
.poisk {
     display: grid;
     width: 400px;
}
.color {
     grid-column: 1 / 2;
}
.color2 {
     grid-column: 2 / 3;
}
.color1 {
     width: 170px;
     height: 35px;
     background-color: rgba(45,113,240,0);
     border: 1px solid #e7e7e7;
     outline: none;
     color: #989898;
     cursor: pointer;
}
.select {
     color: #989898;
}
.colour {
     font-size: 13px;
     line-height: 30px;
     text-transform: uppercase;
     color: #575153;
     font-weight: 500;
     font-family: "Montserrat";
}
.done {
     width: 570px;
     height: 68px;
     font-size: 15px;
     line-height: 22px;
     color: #8e8c8c;
     font-weight: 400;
     font-family: "Roboto";
     margin-top: 20px;
}
.avail {
     margin-top: 30px;
}
.avai {
     font-size: 14px;
     line-height: 30px;
     text-transform: uppercase;
     color: #575153;
     font-weight: 500;
     font-family: "Montserrat";
}
.stok {
     color: #9a9a9a;
     text-transform: none;
}
.stok1 {
     color: #00c8c8;
     text-transform: none;
}
.tena {
     width: 392px;
     height: 36px;
     font-size: 30px;
     letter-spacing: 2px;
     text-transform: uppercase;
     color: #9a9a9a;
     font-weight: 400;
     font-family: "Montserrat";
     margin-top: 60px;
}
.cerc {
     text-decoration: line-through;
}
.browsers {
     position: absolute;
     margin-left: 430px;
}
.facebook1 {
    margin-left: 4px;
}
.twitter1 {
     margin-left: 4px;
     margin-top: 2px;
}
.google {
     margin-left: 4px;
     margin-top: 2px;
}
.pinterest1 {
     margin-left: 4px;
     margin-top: 1px;
}
.instagram1 {
     margin-left: 4px;
     margin-top: 1px;
}
.pocta {
     margin-left: 4px;
     margin-top: 1px;
}
.share {
     position: absolute;
     margin-left: 370px;
     font-size: 14px;
     color: #575153;
     font-weight: 500;
     font-family: "Montserrat";
     
}
.reviews {
     position: absolute;
     font-size: 14px;
     color: #575153;
     font-weight: 500;
     font-family: "Montserrat";
     margin-left: 100px;
}
.add {
     position: absolute;
     font-size: 14px;
     color: #575153;
     font-weight: 500;
     font-family: "Montserrat";
     margin-left: 225px;
     text-decoration: none;
}
.add:hover {
     color: #00c8c8;
}
.ave {
     font-size: 14px;
     line-height: 16px;
     text-transform: uppercase;
     color: #575153;
     font-weight: 500;
     font-family: "Montserrat";
}
#bag4 {
     margin: 50px auto;
     width: 1200px;
}
#mane {
     width: 1200px;
     height: 50px;
     background-color: #f8f8f8;
     
}
.mane1 li {
     float: left;
     list-style-type: none;
     height: 50px;
     cursor: pointer;
}
#mane .mane1 .active {
     width: 144px;
     height: 50px;
     background-color: #333333;
}
#mane .mane1 .active a {
     font-size: 16px;
     line-height: 20px;
     text-transform: uppercase;
     color: #ffffff;
     font-weight: 400;
     font-family: "Montserrat";
     margin: 17px 15px;
     display: block;
     text-decoration: none;
}
#mane .mane1 .li2 a {
     font-size: 16px;
     line-height: 20px;
     text-transform: uppercase;
     color: #8e8c8c;
     font-weight: 400;
     font-family: "Montserrat";
     margin: 17px 70px;
     display: block;
     text-decoration: none;
}
#mane .mane1 .li3 a {
     font-size: 16px;
     line-height: 20px;
     text-transform: uppercase;
     color: #8e8c8c;
     font-weight: 400;
     font-family: "Montserrat";
     margin: 17px 14px;
     display: block;
     text-decoration: none;
}
#mane .mane1 .li4 a {
     font-size: 16px;
     line-height: 20px;
     text-transform: uppercase;
     color: #8e8c8c;
     font-weight: 400;
     font-family: "Montserrat";
     margin: 17px 72px;
     display: block;
     text-decoration: none;
}
#mane .mane1 .li5 a {
     font-size: 16px;
     line-height: 20px;
     text-transform: uppercase;
     color: #8e8c8c;
     font-weight: 400;
     font-family: "Montserrat";
     margin: 17px 13px;
     display: block;
     text-decoration: none;
}
#mane .mane1 li:hover {
     background-color: #333333;
     color: #ffffff;
}
#mane .mane1 li:hover > a {
     color: #ffffff;
}
.nunc1 {
     margin-left: 15px;
}
.nunc {
     margin-top: 20px;
     font-size: 13px;
     line-height: 20px;
     text-transform: uppercase;
     color: #727272;
     font-weight: 500;
     font-family: "Montserrat";
}
.sed {
     width: 1140px;
     font-size: 15px;
     line-height: 22px;
     color: #8e8c8c;
     font-weight: 400;
     font-family: "Roboto";
     margin-top: 20px;
}
#bag5 {
     height: 425px;
     background-color: #f8f8f8;
     padding-top: 75px;
}
.info {
     font-size: 12px;
     text-transform: uppercase;
     margin-bottom: 20px;
     color: #575153;
     font-weight: 510;
     font-family: "Montserrat";
}
.inf {
    width: 210px;
    margin-bottom: 20px;
}
.custom {
     font-size: 13px;
    line-height: 25px;
    color: #727272;
    font-weight: 400;
    font-family: "Montserrat";
}
.information {
     grid-column: 1 / 2;
}
.Whybuyfromus {
     grid-column: 2 / 3;
}
.Youraccount {
     grid-column: 3 / 4;
}
.Lookbook {
     grid-column: 4 / 5;
}
.contactdetails {
     grid-column: 5 / 6;
}
#foters {
     display: grid;
     width: 930px;
     margin: 50px auto;
}
.award {
     width: 445px;
     height: 111px;
     background-color: #333333; 
     padding-top: 45px;
     grid-column: 1 / 2;
}
.fash {
     width: 445px;
     height: 156px;
     background-color: #00c8c8;
     grid-column: 2 / 3;
}
.grid {
     width: 900px;
     display: grid;
     margin: 0px auto;
}
.winner {
     font-size: 28px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-family: "Montserrat";
    text-align: center;
}
.fashion {
     font-size: 28px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 300;
    font-family: "Montserrat";
    text-align: center;
}
.twitter {
     margin-left: 40px;
}
.instagram {
     margin-left: 40px;
}
.pinterest {
     margin-left: 40px;
}
.brows {
     padding: 60px 100px;
}
footer {
     height: 35px;
    background-color: #333333;
}
.footer {
     float: right;
     margin-right: 335px;
     margin-top: 7px;
}
.footer2 {
     margin-top: 4px;
     position: absolute;
     font-size: 13px;
    line-height: 30px;
    color: #999999;
    font-weight: 600;
    font-family: "Montserrat";
    margin-left: 330px;
}
.design {
     font-size: 13px;
    line-height: 20px;
    color: #777777;
    font-weight: 510;
    font-family: "Montserrat";
    text-decoration: none;
}
.Dev {
     font-size: 13px;
    line-height: 20px;
    color: #777777;
    font-weight: 510;
    font-family: "Montserrat";
    text-align: right;
    text-decoration: none;
    margin-left: 30px;
}
@media (max-width: 1585px) {
    
}
@media (max-width: 1500px) {
     
}
@media (max-width: 1400px) {
     
}
@media (max-width: 1200px) { 
     .footer2 {
        margin-left: 150px;
     }
     .footer {
        margin-right: 150px;
     }
     .Currency {
        margin-left: 200px;
     }
     .logo {
        margin-left: 50px;
        
     }
     #bag3 {
          width: 1000px;
          column-gap: 20px;
     }
     .photo {
          width: 470px;
          height: 585px;
     }
     .strela2:before {
          margin-left: 445px;
          margin-top: 277px;
     }
     .strela2:after {
          margin-left: 445px;
          margin-top: 265px;
     }
     .strv1 {
          margin-top: 269px;
     }
     .strv2 {
          margin-top: 267px;
     }
     .border {
          margin-left: 190px;
     }
     .add {
          margin-left: 205px;
     }
     .border1 {
          margin-left: 315px;
     }
     .share {
          margin-left: 330px;
     }
     .browsers {
          margin-left: 390px;
     }
     .done {
          width: 490px;
     }
      #rightsidebar .donec ul {
          width: 400px;
          height: 80px;
     }
     .poisk {
          margin-bottom: 20px;
          margin-top: 10px;
     }
     .tocart {
          width: 200px;
          height: 40px;
          background-position: 10px center;
     }
     .toloocbook {
          position: absolute;
          margin-top: 0px;
          width: 280px;
          height: 40px;
          background-position: 10px center;
     }
     .krug1 {
          margin-top: 10px;
     }
     #bag4 {
          width: 980px;
     }
     #mane {
          width: 980px;
     }
     .sed {
          width: 960px;
          font-size: 13px;
     }
}
@media (max-width: 1150px) {
     
}
@media (max-width: 1000px) {
     .logo {
        margin-left: 20px;
        width: 166px;
        height: 13px;
     }
     #bag3 {
          width: 980px;
     }
     #rightsidebar {
          height: 590px;
     }
     .tocart {
        width: 180px;
        font-size: 13px;
     }
     .toloocbook {
        width: 240px;
        font-size: 13px;
     }
}